<mat-card>
  <h2> Kreiranje nove narudzbenice</h2>

  <button (click)="onAddNewItemClick()">DODAJ JOS jednu stavku</button>
  <form class="example-form" [formGroup]="orderControl" (ngSubmit)="onSubmit()">


    <ng-container *ngFor="let orderItem of orderItems; let i = index; ">
      <mat-form-field>
        <mat-label>{{orderItem.name}} </mat-label>
        <mat-select [formControlName]="orderItem.key">
          <mat-option *ngFor="let medicine of medicines" [value]="medicine.id">
            {{opt.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-label>{{orderItem.key}} Kolicina</mat-label>
        <mat-form-field class="full-width">
          <input matInput placeholder="kolicina" [formControlName]="orderItem.keyQuanity">
        </mat-form-field>
      </mat-form-field>
    </ng-container>




    <button mat-button type="submit"> Sacuvaj</button>
  </form>
  <mat-card-actions>
  </mat-card-actions>
</mat-card>