<div class="cointainer">
  <div fxLayout="column" fxLayoutAlign="space-between stretch" >
    <app-navigation
      fxFlex
      title="Lekovi"
      gotoUrl = "/medicines"
      imgUrl="assets/image/medicine.png"

    > </app-navigation>

    <app-navigation
      fxFlex
      title="Porudbenice"
      gotoUrl = "/orders"
      imgUrl="assets/image/orders.png"

    > </app-navigation>
    <app-navigation
      fxFlex
      title="Cenovnici i promocije"
      gotoUrl = "/medicines"
      imgUrl="assets/image/discounts.jpg"

    > </app-navigation>

  </div>
</div>