<div>
  <h1>Profil administraotra apoteke</h1>
  <div fxLayout="row" fxLayoutAlign="start start">
    <div fxLayout="column" fxLayoutAlign="start start">
      <app-navigation fxFlex title="Rad sa apotekama" (click)="goto('/admin-pharmacy-panel')" imgUrl="assets/image/none.png">
      </app-navigation>

    </div>
    <div fxLayout="column" fxLayoutAlign="start start">

      <app-navigation fxFlex title="Lekovi" (click)="goto('/medicines')" imgUrl="assets/image/medicine.png">
      </app-navigation>

      <app-navigation fxFlex title="Definisanje slobodnih termina za dermatologe" imgUrl="assets/image/working-time.png"
        (click)="goto('/working-time')"> </app-navigation>

      <app-navigation fxFlex title="Porudbenice" (click)="goto('orders')" imgUrl="assets/image/orders.png">
      </app-navigation>
      <app-navigation fxFlex title="Cenovnici i promocije" (click)="goto('medicines')"
        imgUrl="assets/image/discounts.jpg"> </app-navigation>

    </div>
  </div>
</div>