<h2>Izmena osnovnih informacija korisnika</h2>

<form class="example-form" [formGroup]="editBasicInfo">
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Ime" formControlName="nameControl" >
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input matInput placeholder="Prezime" formControlName="surnameControl" >
  </mat-form-field>
  <mat-form-field>
    <input matInput [matDatepicker]="picker" placeholder="Datum rodjenja" formControlName="dateControl">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
  <button mat-button (click)="saveChanges()"> Sacuvaj promene</button>
</form>