<div fxLayout="column" fxLayoutAlign="space-around stretch" class="no-overflow">
    <div class="search-inpt">
        <mat-form-field>
            <input matInput type="text" name="search" [formControl]="searchText" autocomplete="off"
                placeholder="Pretrazuj po imenu pregleda">
        </mat-form-field>

        <button mat-button (click)="onClick()"> Trazi </button>
    </div>
    <div fxLayout="column" fxLayoutAlign="space-around start">
        <table class="table table-striped" *ngIf="availableServices">
            <thead>
                <tr>
                    <th><button mat-button (click)="sortById()"><b>ID</b></button></th>
                    <th><button mat-button (click)="sortByName()"><b>Naziv</b></button></th>
                    <th><button mat-button (click)="sortByRating()"><b>Cena</b></button></th>
                    <th> Akcije</th>

                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let c of availableServices ; let i = index ;trackBy: trackItem">
                    <td> {{availableServices[i].id}} </td>
                    <td> {{availableServices[i].name}}</td>
                    <td> {{availableServices[i].price}}</td>

                    <td> <button mat-button (click)="edit(availableServices[i])">
                            <mat-icon>menu</mat-icon>
                        </button></td>


                </tr>
            </tbody>
        </table>



    </div>
</div>