<div>
  <h1 fxLayout="row" fxLayoutAlign="space-around">
    Definisanje radnog vremena za dermatologe po apotekama
  </h1>

  <div fxLayout="column" fxLayoutAlign="space-around">

    <mat-form-field>
      <mat-label>Odaberite doktora</mat-label>
      <mat-select>
        <mat-option *ngFor="let el of doctors" [value]="doctors">
          {{el.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Odaberite apoteku za doktora</mat-label>
      <mat-select>
        <mat-option *ngFor="let el of pharmacies" [value]="pharmacy">
          {{el.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <div fxLayout="row">
      <mat-form-field>
        <mat-label>Dan u nedelji</mat-label>
        <mat-select [(ngModel)]="dayInWeek">
          <mat-option *ngFor="let day of week | keys" [value]="day">
            {{day}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <div>
        <mat-form-field class="time">
          <mat-label>Od</mat-label>
          <input matInput placeholder="8:00" [(ngModel)]="startTime">
        </mat-form-field>
        <mat-form-field class="time">
          <mat-label>Do</mat-label>
          <input matInput placeholder="17:00" [(ngModel)]="endTime">
        </mat-form-field>
        <button mat-stroked-button (click)="addTimeToDay()">+</button>
      </div>
    </div>
  </div>
  <mat-card fxLayout="column" fxLayoutAlign="space-around" class="week-header">
    <mat-card-header> Radno vreme doktora tog i tog </mat-card-header>
    <mat-card-content>
      <br>
      <div fxFill>
        <div fxFlex="20">
          <div *ngFor="let day of week | keys">
            {{day}}
          </div>
        </div>
        <div fxFlex="60">
          <div *ngFor="let day of week | keys" fxLayout="row" >
            <div *ngIf="week[day];else elseBlock"> 
            <div *ngFor="let time of week[day]">              
               {{time.start}} - {{time.end}}  
             </div>
            </div>              
            <br>
          </div>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>

<ng-template #elseBlock> NEMA PODATAKA </ng-template>