input {

    width: 35px;
}

.time{
    margin-left: 20px;
    width: 80px;
}
button{
    margin-left: 10px;
    width: 50px;
    height: 40px;
}
.shrink{
    width: 60%;
}
.week-header{
    background-color: lightslategray;
    color:white;
    font-size: x-large;
}
.week{
    background-color:  lightslategray;
    font-size: medium;
    margin-top: 5px;
    padding-left: 25px;

}

table {
    border: 1px solid;
}