<div fxLayout="row" class="top-margin"> 
    <!-- Stavi ! kod ngIf-->
    <app-api-card fxFlex username="pharmacolog" password="123" imgUrl="assets/image/user.png" subTitle="Public"
      title='Logovanje kao farmaceut'>
    </app-api-card>
    <app-api-card fxFlex username="dermatolog" password="123" imgUrl="assets/image/foo.png" subTitle="Public"
      title='Logovanje kao dermatolog'>
    </app-api-card>
    <app-api-card fxFlex username="user" password="123" imgUrl="assets/image/foo.png" subTitle="Public"
      title='Logovanje kao pacijent'></app-api-card>
    <app-api-card fxFlex username="admin" password="123" imgUrl="assets/image/foo.png" subTitle="Public"
    title='Logovanje kao administrator klinike'>
  </app-api-card>
  <app-api-card fxFlex username="superadmin" password="123" imgUrl="assets/image/foo.png" subTitle="Public"
  title='Logovanje kao administrator IS'>
</app-api-card>
  
</div>
<div fxLayout="column" fxLayoutAlign="space-around stretch" *ngIf="!isSignedIn()">
  <img src="assets/image/wallpaper.jpg">
</div>
<div fxLayout="row" class="content">
  <app-admin  style="width: 100%;" *ngIf="isSignedAsAdmin()"></app-admin> 
  <app-user  *ngIf="isSignedAsUser()"></app-user>
  <app-pharmacolog *ngIf="isSignedAsPharmacolog()"> farmakolog</app-pharmacolog>
  <app-guest *ngIf="!isSignedIn()"></app-guest> 
</div>