<div fxLayout="column" fxLayoutAlign="space-around stretch">
  <div class="container text-center">
    <h1>Pretraga lekova</h1>
  </div>

  <div class="row">
    <mat-form-field>
    <input matInput  type="text" name="search" [formControl]="searchText" autocomplete="off"
      placeholder="Pretrazuj po imenu leka">
    </mat-form-field>

    <button mat-button (click)="onClick()"> Trazi </button>
  </div>
  <div fxLayout="column" fxLayoutAlign="space-around start">
    <table class="table table-striped" *ngIf="sortedMedicines">
      <thead>
        <tr>
          <th> <button mat-button (click)="sortById()">ID</button></th>
          <th><button mat-button (click)="sortByName()">Naziv</button></th>
          <th><button mat-button >Doza</button></th>
          <th><button mat-button (click)="sortByRating()">Ocena</button></th>          
          <th><button mat-button> Tipa leka</button></th>

        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let c of sortedMedicines ; let i = index ;trackBy: trackItem">
          <td> {{sortedMedicines[i].id}} </td>
          <td> {{sortedMedicines[i].name}}</td>
          <td> {{sortedMedicines[i].dosage}}</td>
          <td> {{sortedMedicines[i].rating}}</td>
          <td> {{sortedMedicines[i].type}}</td>


        </tr>
      </tbody>
    </table>



  </div>
</div>