<!-- <div fxLayout="column" fxLayoutAlign="start"> -->
<h1> Slobodni termini farmaceuta</h1>
<table class="my-table-style" *ngIf="availablePharmacists">
  <tr>
    <th> Ime i prezime farmaceuta </th>
    <th> Radno vreme farmaceuta u apoteci</th>
  </tr>
  <tbody>
    <tr *ngFor="let item of availablePharmacists">
      <td> {{item | json}}</td>
      <td> {{item.startTime}} - {{item.endTime}} </td>
      <td> <button mat-stroked-button (click)="showAvailableTerm(item)"> Odaberi slobodan termin </button>
      </td>
    </tr>
  </tbody>  
</table>
<!-- </div> -->