<div class="content">
<div class="about-text">
  <mat-card class="about">
    <mat-card-title>
      <h2 class="move-up">Spisak registrovanih zapozlenih U IS</h2>
    </mat-card-title>
    <mat-divider></mat-divider>
    <form>
      <mat-form-field class="search-field width-80">
        <mat-label>Odaberi tip zaposlenih za prikaz</mat-label>
        <mat-select [formControl]="dataControl">
          <mat-option *ngFor="let item  of dataOptionsToDisplay" [value]="item">
            {{item}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <button mat-button class="search-btn" (click)="onShowData()"> Trazi</button>
    </form>
    <div fxLayout="column" fxLayoutAlign="space-around stretch" *ngIf="readyData">
      <div class="strech-btn" fxLayout="row" fxLayoutAlign="space-around stretch">
        <button mat-stroked-button (click)="onAddAdmin()" class="width-30 margin-r">Dodaj novog admina </button>
        <button mat-stroked-button (click)="onADdDermatolog()" class="width-30 margin-r">Dodaj novog dermatologa
        </button>
        <button mat-stroked-button (click)="onAddPharamcist()" class="width-30 margin-r">Dodaj novog farmaceuta
        </button>
      </div>

      <table mat-table [dataSource]="employeeSource" class="mat-elevation-z8">
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef> No. </th>
          <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>

        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Ime i prezime zaposlenog</th>
          <td mat-cell *matCellDef="let element"> {{element.firstName}} {{element.lastName}} </td>
        </ng-container>
        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef> Email adresa</th>
          <td mat-cell *matCellDef="let element">
            {{element.email}}
          </td>
        </ng-container>
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef> Akcije</th>
          <td mat-cell *matCellDef="let element">
            <button mat-button>
              <mat-icon>menu</mat-icon>
            </button>

            <button mat-button>
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-button>
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayComuns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayComuns;"></tr>
      </table>


    </div>
  </mat-card>
</div>