<div fxLayout="column" fxLayoutAlign="center stretch">
  <div class="container text-center">
    <h1>Pretraga lekova</h1>
  </div>

  <div class="row">
    <mat-form-field class="full-width">
      <mat-label> Pretrazuj po imenu leka</mat-label>
      <input matInput  class="form-control" type="text" name="search" [formControl]="searchText" autocomplete="off" >
    </mat-form-field> 
    

    <button mat-raised-button (click)="onSearch()"> Trazi </button>
    <button mat-raised-button (click)="clear()"> Clear </button>
  </div>
  <div fxLayout="column" fxLayoutAlign="space-around start">

      <table class="table table-striped" *ngIf="sortedMedicines">
        <thead>
          <tr>
            <th><button [class.active-sort]="sortProp === 'id' " mat-button (click)="onSortBy('id')">Id</button> <span class="sort-indicator"></span></th>
            <th><button mat-button (click)="onSortBy('name')">Name</button></th>
            <th><button mat-button (click)="onSortBy('rating')">Rating</button></th>
            <th><button mat-button> Tipa leka</button></th>
            <th> Uputstva</th>
            <th>Proveri dostupnost u apotekama </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let medicine of sortedMedicines " >
            <td> {{medicine.id}} </td>
            <td> {{medicine.name}}</td>
            <td> {{medicine.rating}}</td>
            <td> {{medicine.type}}</td>
            <td> download </td>
            <td> <button mat-button (click)="checkStock(medicine)">
              <mat-icon aria-hidden="false">home</mat-icon>
            </button></td>
          </tr>
        </tbody>
      </table>



  </div>
</div>