table {
    min-width: 250px;
    width: 100%;
 
}
table,tr,th,td{   border:1px ; text-align: center;}

.about{
   
    margin-left: 10%;
    width: 100%
}
.about-text{
    padding-top : 5px;
    width: 70%
}

.move-up{

    margin-bottom: 10px;
}
mat-divider{
   
    border-top-width: 8px;
}