<div>
  <div fxLayout="row">
    <div class="about-text">
      <mat-card *ngIf="currentPharmacy" class="about">
        
        <mat-card-title>
          <button style=" float: right">
            <mat-icon>edit</mat-icon>
          </button>
          <h2 class="move-up">{{currentPharmacy.name}}</h2>
        </mat-card-title>
        <mat-card-subtitle>
          <p> Adresa: {{currentPharmacy.adress}}</p>
        </mat-card-subtitle>
        <mat-divider></mat-divider>
        <div fxLayout="row" fxLayoutAlign="space-between start">
          <mat-tab-group animationDuration='0ms' mat-align-tabs="center" style="width: 100%;">
            <mat-tab label="Dermatolozi">              
              <app-dermatologists-tab *ngIf="dermatologs" [dermatologs]="dermatologs"  ></app-dermatologists-tab>
            </mat-tab>
            <mat-tab label="Farmaceuti">
              <h3> Spisak farmaceuta</h3>
              <div *ngFor="let doctor of currentPharmacy.farmacists">
                <li> {{ doctor.name}} <button>Obrisi</button> </li>
              </div>
            </mat-tab>
            <mat-tab label="Lekovi">
              <app-medication-tab></app-medication-tab>
            </mat-tab>
            <mat-tab label="Pregledi">
              <app-appointments-tab [pharmacy]="currentPharmacy"></app-appointments-tab>
              
            </mat-tab>
          </mat-tab-group>
        </div>
      </mat-card>
    </div>
  </div>