<div>

  <div fxLayout="row">
    <div>
      <table mat-table [dataSource]="pharmacySource" class="mat-elevation-z8">
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Spisak apoteka</th>
          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>

        <ng-container matColumnDef="adress">
          <th mat-header-cell *matHeaderCellDef> </th>
          <td mat-cell *matCellDef="let element">
            <button mat-stroked-button (click)="showDetials(element)">
              <mat-icon>list</mat-icon>
            </button>
          </td>
        </ng-container>


        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>

    </div>

    <div class="about-text">
      <mat-card *ngIf="selectedPharmacy" class="about">
        <mat-card-subtitle> Brzi pregled <button style=" float: right">
            <mat-icon>edit</mat-icon>
          </button> </mat-card-subtitle>
        <mat-card-title>
          <h2 class="move-up">{{selectedPharmacy.name}}</h2>
        </mat-card-title>
        <p> Adresa: {{selectedPharmacy.adress}}</p>
        <mat-divider></mat-divider>
        <div fxLayout="row" fxLayoutAlign="space-between start">

          <mat-tab-group animationDuration='0ms' mat-align-tabs="center" style="width: 100%;">
            <mat-tab label="Dermatolozi">
              <button mat-stroked-button style="width: 100%; margin-top: 10px;"> Dodaj novog dermatologa</button>
              <div fxLayout="column">
                <div *ngFor="let doctor of selectedPharmacy.doctors">
                  <h3 >{{doctor.name}}
                    <button style=" float: right">
                      <mat-icon>edit</mat-icon>
                    </button>
                  </h3>
                  <table>
                    <tr>
                      <th *ngFor="let item of doctor.workingTime ">
                        {{item.day}}
                      </th>
                    </tr>
                    <tr>
                      <td *ngFor="let item of doctor.workingTime ">
                        <p *ngIf="item.time;else workingTimeNotDefined">
                          {{item.time.start}} - {{item.time.end}}
                        </p>
                      </td>
                    </tr>
                  </table>
                  <div> <h4>Godisnji odmor: <span *ngIf="doctor.vacation;else noVacationDefined">
                      {{doctor.vacation.startDate}} - {{doctor.vacation.endDate}} </span></h4></div>
                </div>

              </div>
            </mat-tab>
            <mat-tab label="Farmaceuti">
              <h3> Spisak farmaceuta</h3>
              <div *ngFor="let doctor of selectedPharmacy.farmacists">
                <li> {{ doctor.name}} <button>Obrisi</button> </li>
              </div>
            </mat-tab>
            <mat-tab label="Third">
              <h3> Spisak lekova</h3>
              <div *ngFor="let item of selectedPharmacy.medications">
                <li> {{ item.name}}- {{item.price}}din <button>Obrisi</button> </li>
              </div>
            </mat-tab>
            <mat-tab label="Forth">
              <h3> Spisak pregleda</h3>
              <div *ngFor="let item of selectedPharmacy.availableServices">
                <li> {{ item.name}} - {{item.price}}din <button>Obrisi</button> </li>
              </div>
            </mat-tab>
          </mat-tab-group>

        </div>
      </mat-card>
    </div>
  </div>

  <ng-template #workingTimeNotDefined> Ne radi</ng-template>
  <ng-template #noVacationDefined> Nema u planu </ng-template>